.btn-rotate {
	float: left;
	height: 32px;
	width: 32px;
	margin: 9px 12px 0 0 !important;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	color: #000 !important;
	overflow: hidden;
	text-indent: 100%;
	vertical-align: top;
	white-space: nowrap;
}

.viewer-rotate {
	/* most of authors rotate for "landscape" by 90deg, we reverse */
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: top left;
}

.rotate-fix-scrollbar {
	overflow-y: hidden;
	overflow-x: scroll;
}

.viewer-rotate-hide-toTop {
	visibility: hidden;
	display: none !important;
}
