.btn-rotate {
	float: left;
	height: 32px;
	margin: 9px 12px 0 0;
	width: 32px;
	background-image: url('./icon-rotate.png'); /** @TODO create */
	background-color: 'transparent';
	/*display: inline-block;*/
	overflow: hidden;
	text-indent: 100%;
	vertical-align: top;
	white-space: nowrap;
}

.viewer-rotate {
	/* most of authors rotate for "landscape" by 90deg, we reverse */
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: top left;
}

.rotate-fix-scrollbar {
	overflow-y: hidden;
}